run-name: Build artifact for ${{ github.event.pull_request.head.ref }} - ${{ github.event.number }} 

on:
  workflow_call:
    inputs:
      server-type:
        type: string
        required: true
      java-version:
        type: string
        required: true
      server-tag:
        type: string
        required: false
        default: "latest"
        description: "Server docker image tag"
      run-tests:
        type: boolean
        required: false
        default: false
        description: Spin up aerospike enterprise server and run tests

jobs:
  build:
    uses: ./.github/workflows/build.yaml
    strategy:
      matrix:
        crypto: [bouncycastle, gnu]
    name: build-${{ matrix.crypto }}-${{ inputs.server-tag }}-${{ inputs.java-version }}
    with:
      java-version: ${{ inputs.java-version }}
      run-tests: ${{ inputs.run-tests }}
      server-tag: ${{ inputs.server-tag }}
      crypto-type:  ${{ matrix.crypto }}
      server-type: ${{ inputs.server-type }}
    secrets: inherit
