name: Test and build on-demand

on:
  workflow_dispatch:
    inputs:
      source-branch:
        type: string
        required: true
        description: Branch to run test against

jobs:
  make-matrix:
    name: make input matrix
    runs-on: ${{ vars.BUILD_CONTAINER_DISTRO_VERSION }}
    outputs:
      input-matrix: ${{ steps.create-server-matrix.outputs.input-matrix }}
      java-version: ${{ steps.get-java-version.outputs.java-version }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          ref: ${{ github.ref }}
      - id: create-server-matrix
        uses: ./.github/actions/make-server-matrix
        with:
          default_json: ${{ vars.DEFAULT_SERVER_VERSIONS }}
          test_servers_file_path: ${{ vars.TEST_SERVERS_FILE_PATH }}

      - name: Get java version
        id: get-java-version
        run: |
          echo java-version="$(grep '<java.version>' pom.xml | sed -e 's/<[^>]*>//g' | awk '{$1=$1};1' | sed 's/^1\.8$/8/')"  >> $GITHUB_OUTPUT

      - name: debug - print input variables
        run: |
          echo ${{ steps.get-java-version.outputs.java-version }}
          echo ${{ steps.create-server-matrix.outputs.input-matrix }}

  build-and-test:
    uses: ./.github/workflows/test-branch.yaml
    needs: make-matrix
    strategy:
      matrix:
        entry: ${{ fromJson(needs.make-matrix.outputs.input-matrix) }}
        crypto-type: [bouncycastle, gnu]
    name: build-${{ matrix.entry.type }}-${{ matrix.entry.version }}
    with:
      java-version: ${{ needs.make-matrix.outputs.java-version }}
      crypto-type: ${{ matrix.crypto-type }}
      source-branch: ${{ inputs.source-branch }}
      run-tests: true
      server-tag: ${{ matrix.entry.version }}
      server-type: ${{ matrix.entry.type }}
    secrets: inherit

